@media (max-width: 1250px) 
{

.apresentation h1
{
  min-width: 40rem;
  color: var(--cyan);
  font-family: GB;
  font-size: 100px;
}

.apresentation h1 span {
  color: var(--white);
  font-family: GB;
  font-size: 100px;
}


#flex-center-apresentation
{

}

#flex-apresentation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.apresentation h1 {
    min-width: 50%;
    
    color: var(--cyan);
    font-family: GB;
    font-size: 50px;
    }

.apresentation h1 span {
    color: var(--white);
    font-family: GB;
    font-size: 50px;
}

.span-apresentation,
.pre-code {
    font-weight: 600;
    font-family: "Fira Code", monospace;
    font-size: 12px;
    color: var(--cyan);
}

.content-class {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background: #fff;
    border-radius: 8px;
    color: #121212;
    font-family: "Fira Code", monospace;
    font-size: 12px;
    font-weight: 400;
    transition: width 0.5s, font-size 0.5s;
    width: 100%;
    max-width: 240px;
    padding: 30px;
}

#link-social
{
  display: flex;
  gap: 8px;

  position: absolute;

  bottom: 52%;
  right: 2%;
}


#link-social figure img
{
  width: 25px;
}

}

@media (max-width: 850px) 
{



/* -----header----- */
#nav-list {
    display: flex;
    gap: 2rem;
    list-style: none;
    }

#nav-list li a {
    text-decoration: none;
    font-family: GSB;
    font-size: 16px;
    color: var(--blue);
}

/* -----apresentation----- */

.apresentation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    padding: 2rem 20rem;
    background: linear-gradient(234deg, #1e255d 0%, #111638 15%, #000 80%);
  }
  

#flex-center-apresentation
{
  min-width: 600px;
  width: 100%;
}

#flex-apresentation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.apresentation h1 {
    min-width: 50%;
  
    color: var(--cyan);
    font-family: GB;
    font-size: 50px;
  }

.apresentation h1 span {
    color: var(--white);
    font-family: GB;
    font-size: 50px;
}

.span-apresentation,
.pre-code {
  font-weight: 600;
  font-family: "Fira Code", monospace;
  font-size: 12px;
  color: var(--cyan);
}

.content-class {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background: #fff;
    border-radius: 8px;
    color: #121212;
    font-family: "Fira Code", monospace;
    font-size: 12px;
    font-weight: 400;
    transition: width 0.5s, font-size 0.5s;
    width: 100vh;
    padding: 30px;
  }

}

@media (max-width: 450px) 
{
/* header */

.header-content {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    background-color: var(--white);
    z-index: 3;
    padding: 0 2rem;
}

      
#logo-header
{
  font-size: 24px;
  text-decoration: none;
  font-family: GB;
  color: var(--blue);

}

    #nav-list, #flags-icon
    {
        display: none;
    }

    .apresentation {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vh;
        height: 100%;
        padding: 8rem 20rem;
        background: linear-gradient(234deg, #1e255d 0%, #111638 15%, #000 80%);
    }

    #flex-apresentation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 100vh;
    }

    
    .apresentation h1, span {
    min-width: 200px;
    color: var(--cyan);
    font-family: GB;
    font-size: 30px;
  }

  .apresentation h1 span {
    color: var(--white);
    font-family: GB;
    font-size: 30px;
}

#link-social
{
    display: none;
}

  }
  
  








}