
$blue: #172B3C;
$cyan: #46BDAD;
$gray: #ECECEC;
$white: #FFFFFF;

// text

@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600; /* Ou use 'semibold' se preferir */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  