@import "imports.scss";

* 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Gilroy, sans-serif;
    text-decoration: none;
    list-style: none;
    color: $blue;    
    scroll-behavior: smooth;
}

// scrollreveal
.home1-sr, .home2-sr, .home3-sr, .about-sr, .socials1-sr, .socials2-sr, .socials3-sr .main-text-sr, .portfolio-content-sr, .h2-sr,  .services-content-sr {
    visibility: hidden;
}

// header
.header 
{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
}

.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
    background:$gray;
    border-bottom: 1px solid #ffffff1a;
    padding: 12px 15%;
    height: 10vh;
}

.logo {
    font-size: 35px;
    font-weight: 700;

    span
    {
        color: $cyan;
    }
}

.navlist {
    display: flex;
}

.navlist {
    a {
    
    font-size: 17px;
    font-weight: normal;
    margin: 0 25px;
    transition: all .45s ease;
    font-weight: 600;
    }

    a:hover
    {
        color: $cyan;
    }
}

#menu-icon {
    font-size: 35px;
    z-index: 1001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}

// home
div {
    display: block;
    unicode-bidi: isolate;
}

section {
    padding: 160px 15% 120px;
}

.home 
{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(/src/img/wallpaper-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.home
{
    p {
        font-size: 20px;
        padding-bottom: 20px;
    }

    h1{
        font-size: 80px;
        
        padding-bottom: 8px;
    }

    h3{
        font-weight: 700;
        font-size: 48px;
        color: $cyan;

    }
    
}

// about

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;

}

.about-img
{
    img
    {
            width: 430px;
            height: 430px;
            border-radius: 10px;
            box-shadow: black 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
}

#dot
{
    font-weight: 700;
    color: black;
    margin-right: 0.5rem;
}

.about-text
{
    h2
    {
        font-size: 48px;
        line-height: 1;
    }

    h4
    {
        font-size: 24px;
        line-height: 1.7;
        margin: 15px 0 30px;
    }

    p
    {
        font-size: 17px;
        line-height: 1.8;
        margin-bottom: 0.5rem;  
    }

    h2 span, h4 span, p span
    {
        color: $cyan;
    }
}

.socials {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 5em;
    gap: 1rem;
}

.btn-socials span i {
    height: 55px;
    width: 55px;
    background: $blue;
    color: $cyan;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    border-radius: 50%;
    transition: all .45s ease;
}

.btn-socials span i:hover
{
    transform: scale(0.9);
}

// portfolio

.portfolio
{
    background-color: $gray;
}

.main-text h2
{
    font-size: 48px;
    text-align: center;
        
}

.portfolio-content
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.row
{
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;

    img
    {
        max-width: 350px;
        min-width: 100%;
        height: 212.52px;
        max-height: 350px;
        border-radius: 10px;
        display: block;
        transition: transform 0.5s;
    }
}

.layer {
    width: 100%;
    height: 0%;
    background: $blue;
    position: absolute;
    border-radius: 10px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
    cursor: default;
    gap: 6px;
   
    h5, p
    {
        font-size: 20px;
        color: $cyan;
        padding:5px;
    }

    span i
    {
        color: white;
        font-size: 32px;
    }

    div a
    {
        margin: 6px;
    }

    div a i {
        border: black solid 1.5px;
        padding: 5px;
        border-radius: 50%;
        color: white;
        font-size: 32px;
        transition: all 0.2s;
    }

    div a i:hover
    {
        color: rgb(131, 131, 131);
        transform: scale(1.2);
    }
}
.row:hover img{
    transform: scale(1.1);
}

.row:hover .layer{
    height: 100%;
}

// Skills

.main-text{
    text-align: center;
}

.main-text h2{
    font-size: 48px;
    line-height: 1;
}

.services-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 6rem;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // min-width: 300px;
    // max-height: 300px;
    // min-height: 200px;
    width: 250px;
    height: 250px;
    text-align: center;
    background: $gray;
    // padding: 35px 45px;
    border-radius: 8px;
    transition: all .45s ease;
}

.cyan {
    background-color: #46bdad9a ;
}

.s-icons i{
    font-size: 36px;
}

.box h3{
    font-size: 22px;
    font-weight: 600;
}

.box:hover{
    transform: translateY(-8px);
}

// footer

.end{
    letter-spacing: 1px;
    text-align: center;
    padding: 20px 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: $gray;
}

.last-text
{
    font-size: 17px;

    a {
       color: $cyan; 
    }
}


#top{
    position: fixed;
    bottom: 2rem;
    padding: auto;
    right: 2rem;
}

#top.hide-top{
    display: none;
}

#top.show-top{
    display: block;
}

#top i{
    padding: 8px;
    border-radius: 8px;
    font-size: 24px;
    background: $cyan;
    transition: all 1s ease;
}

#top i:hover
{
    transform: translateY(-8px);
}

@media (max-width: 1280px){

    section {
        padding: 120px 15%;
    }

    .home-text {
        h3{
        font-size: 2rem;
        }
    }

    .home{
        height: 87vh;
    }

    .about {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 5rem;
    }

    .about-img img {
        width: 350px;
        height: 350px;
        border-radius: 10px;
        box-shadow: black 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }

    .portfolio-content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, auto));
        gap: 2.5rem;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
    }


    .services-content{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        align-items: center;
        gap: 3rem;
        margin-top: 6rem;
    }



}


@media (max-width: 920px){

    section {
        padding: 80px 15% 100px;
    }

    .logo {
        font-size: 28px;
        font-weight: 700;
    }

    .about{
        grid-template-columns: 1fr;   
    }

    .about-img{
        display: none;
    }

    .about-text{
        text-align: left;

            h2{
                text-align: center;
            }
            
            h4{
                text-align: center;
                font-size: 16px;
            }

            p{
                padding-bottom: 30px;
            }
    }

    .socials {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5em;
        gap: 1rem;
    }

    
    .btn-socials span i {
        height: 50px;
        width: 50px;
        background: $blue;
        color: $cyan;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        border-radius: 50%;
        transition: all .45s ease;
    }

    .about-text{
        text-align: left;

            h2{
                text-align: center;
                padding: 2rem;
            }
            
            h4{
                text-align: center;
                font-size: 20px;
                padding-bottom: 1rem;
            }

            p{
                padding-bottom: 30px;
            }
    }
}

@media (max-width: 800px){

    section {
        padding: 80px 15% 100px;
    }

    #menu-icon{
        display: block;
    }

    .navlist{
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        height: 90vh;
        display: flex;
        flex-direction: column;
        background: $gray;
        text-align: center;
        justify-content: center;
        transition: all .45s ease;
    }

    .navlist a{
        display: block;
        margin: 17px;
        font-size: 20px;
        transition: all .45s ease;
    }

    .navlist.open{
        top: 100%
    }

    .home{
        position: relative;
        height: 87vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        p {
            text-align: left;
            font-size: 16px;
            padding-bottom: 8px;
        }
    
        h1{
            text-align: left;
            font-size: 60px;
            padding-bottom: 8px;
        }
    
        h3{
            text-align: left;
            font-weight: 700;
            font-size: 32px;
            color: $cyan;
    
        }
    }

// About for me

    .socials{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 0;
        margin:0;
    }

    .btn-socials span i {
        height: 33px;
        width: 33px;
        background: $blue;
        color: $cyan;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        border-radius: 50%;
        transition: all .45s ease;
    }

    .text-box{
        width: 100%;
    }

    .container img{
        display: none;
    }

    #top{
        position: fixed;
        bottom: 0;
        padding: auto;
        margin: 0 0 5em 1rem;
    }

    
    .link{
        color: rgb(0, 0, 0);
        transition: .5s;
    }
    
    .link:hover{
        transition: .5s;
        color: #e4ab32;
    }


    // Skills
    .services-content{
        display: grid;
        align-items: center;
        gap: 2.5rem;
        margin-top: 5rem;
    }

    // footer

    .last-text{
        font-size: 14px;
    }
}


